<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>增加歌曲</title>
</head>

<body bgcolor="#FFCCCC">
	<form name="songs" method="post">
		<table width="500" height="400" align="center">

		<tr>
			<td>歌名：</td>
			<td>
				<input type="text" name="songName" size="20" maxlength="20"  />
				<font color="red">*</font>
			</td>
		</tr>
		
		<tr>
			<td>歌手：</td>
			<td>
				<input type="text" name="singerName" size="20" maxlength="20" />
				<font color="red">*</font>
			</td>
		</tr>
		<tr>
			<td>专辑名：</td>
			<td>
				<input type="text" name="album" size="20" maxlength="20" />
				<font color="red">*</font>
			</td>
		</tr>
		
		<tr>
				<td>类型：</td>
				<td>
					<input type="radio" name="kind" value="1" />摇滚
					<input type="radio" name="kind" value="2" checked="checked"/>流行
					<input type="radio" name="kind" value="3"/>爵士
					<input type="radio" name="kind" value="4"/>乡村
				</td>
			</tr>
			
			<tr>
				<td>国家：</td>
				<td>
					<select name="country">
						<option value="1" selected="selected">中国</option>
						<option value="2" >欧美</option>
						<option value="3">日韩</option>
					</select>
				</td>
		</tr>
			
		<tr>
			<td>上传图片：</td>
			<td>
				<input type="file" name="photo" />
			</td>
		</tr>
		
		<tr>
			<td>简介：</td>
			<td>
				<textarea name="induction" rows="10" cols="40">
				</textarea>
			</td>
		</tr>
		
		<tr>
			<td colspan="2" align="center">
				<input type="submit" name="add" value="添加" />&nbsp;
				<input type="reset" name="clear" value="重置" />
			</td>
		</tr>
		</table>
	</form>
	<a href="control.html">
		返回上一页
	</a>

</body>
</html>
