<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Adele</title>
<style type="text/css">
		<!--
			a:link{ color:#FF0000;}
		-->
	</style>
</head>

<body bgcolor="#00CCCC" >
	<form name="album" method="post" style="color:#000000">
		<table  width="500" height="800" align="center">
			<tr>
				<td>歌手：</td>
				<td>
					Adele
				</td>
			</tr>
			
			<tr>
				<td>性别：</td>
				<td>
					女
				</td>
			</tr>
			
			<tr>
				<td> 国籍：</td>
				<td>
					英国
				</td>
			</tr>
			
			<tr>
				<td>专辑名称：</td>
				<td>
					《21》
				</td>
			</tr>
			
			<tr>
				<td>类型：</td>
				<td>
					流行，灵魂
				</td>
			</tr>
			
			<tr>
				<td>发型日期：</td>
				<td>
					2011年1月24日
				</td>
			</tr>
			
			<tr>
					<td>专辑图片：</td>
					<td>
						<img src="img/t01afed9fd1324560fd.jpg" width="200" alt="Adele" />
					</td>
			</tr>
			<br/>
			<tr>
				<td>简介：</td>
				<td>
						专辑中歌曲与阿黛尔那较为严肃的作风相近，又探讨关于愤怒、复仇、心碎、自我反省及
						原谅的主题。专辑中表达的是其舍不得的告别恋曲，属于21岁的分手感言。
						专辑《21》在节奏稍快的一些曲目当中较大的运用到了打击乐器，但大部分慢板
						灵魂乐当中，依旧以钢琴当做了主要的配乐架构，简单的钢琴伴奏却有着
						宽阔、震撼人心的力量，阿黛尔的圆润嗓音更是令整张专辑增色颇多。
					
				</td>
			</tr>
		</table>
	</form>
	<a href="index.html">
		返回主页
	</a>
			
</body>
</body>
</html>
