<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>页面—下</title>
	<style type="text/css">
		<!--
			a:link{ color:#666666}/*未点击时的颜色*/
			a:hover{ color:#FFFF66}/*光标移至上方颜色*/
		-->
	</style>
</head>

<body background="img/1.jpg" text="#000000">
	<center>
		版权所有：&copy;音乐推荐小组<br/>
	</center>
</body>
</html>
