<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>修改专辑信息</title>
</head>

<body background="img/f.jpeg">
<form name="songs" method="post">
		<table width="500" height="400" align="center">

		<tr>
			<td>歌名：</td>
			<td>
				<input type="text" name="songName" size="20" maxlength="20" value="拾光" readonly />
			</td>
		</tr>
		<tr>
			<td>歌手：</td>
			<td>
				<input type="text" name="singerName" size="20" maxlength="20" value="李健" />
			</td>
		</tr>
		
		<tr>
			<td>专辑名：</td>
			<td>
				<input type="text" name="album" size="20" maxlength="20" value="《拾光》" />
			</td>
		</tr>
		
		<tr>
				<td>类型：</td>
				<td>
					<input type="radio" name="kind" value="1" />摇滚
					<input type="radio" name="kind" value="2" checked="checked"/>流行
					<input type="radio" name="kind" value="3"/>爵士
					<input type="radio" name="kind" value="4"/>乡村
				</td>
			</tr>
			
			<tr>
				<td>国家：</td>
				<td>
					<select name="country">
						<option value="1" selected="selected">中国</option>
						<option value="2" >欧美</option>
						<option value="3">日韩</option>
					</select>
				</td>
		</tr>
			
		<tr>
			<td>上传图片：</td>
			<td>
				<img src="img/t01b78737c37fd13071.jpg"
				 width="80" alt="李健" />
				<input type="file" name="photo"  />
			</td>
		</tr>
		
		<tr>
			<td>简介：</td>
			<td>
				<textarea name="induction" rows="10" cols="40">
				专辑《李健拾光》选择了旧曲新唱的方式，且将重点放在编曲上，选择15首李健的原创作品，
						以古典音乐元素重新编曲，并蕴含国家交响乐团的弦乐五重奏和众多古典器乐演奏家进行录
						制。该种编曲为歌曲本身注入了正能量，使作品更加优雅。
				</textarea>
			</td>
		</tr>
		
		<tr>
			<td colspan="2" align="center">
				<input type="submit" name="change" value="修改" />&nbsp;
				<input type="reset" name="clear" value="重置" />
			</td>
		</tr>
		</table>
	</form>
	<a href="index.html">
				返回主页
	</a>
	
</body>
</html>
