<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>管理员页面</title>
<script src="js/删除确认.js" type="text/javascript">
		</script>
<style type="text/css">
		<!--
			a:link{ color:#006600;}
			a:hover{ color:#FF0000;}
		-->
	</style>
</head>

<body bgcolor="#FFCCCC">
	<table border="1" bordercolor="#000000" align="center" width="800" height="400">
			<tr>
				<th>歌名</th>
				<th>歌手</th>
				<th>专辑名</th>
				<th>类型</th>
				<th>语种</th>
				<th>专辑图</th>
				<th>操作</th>
			</tr>
			
			<tr>
				<td>拾光</td>
				<td>李健</td>
				<td>《拾光》</td>
				<td>流行</td>
				<td>中文</td>
				<td>
					<img src="img/t01b78737c37fd13071.jpg" width="50 " alt="李健"/>
				
				</td>
				<td>
					<a href="李健.html" target="_blank">详情</a>
					<a href="change.html" target="_blank">修改</a>
					<a href="javascript:del()" >删除</a>

				</td>
			</tr>
			
			<tr>
				<td>When we were young</td>
				<td>Adele</td>
				<td>《21》</td>
				<td>流行</td>
				<td>英文</td>
				<td>
					<img src="img/t01afed9fd1324560fd.jpg" width="50 " alt="Adele"/>
				
				</td>
				<td>
					<a href="Adele.html" target="_blank">详情</a>
					<a href="change.html" target="_blank">修改</a>
					<a href="javascript:del()" >删除</a>

				</td>
			</tr>
			
			<tr>
				<td>Red</td>
				<td>Taylor Swift</td>
				<td>《Red》</td>
				<td>乡村</td>
				<td>英文</td>
				<td>
					<img src="img/t01ceff31ebc2b87331.jpg" width="50 " alt="Taylor Swift"/>
				
				</td>
				<td>
					<a href="Taylor Swift.html" target="_blank">详情</a>
					<a href="change.html" target="_blank">修改</a>
					<a href="javascript:del()" >删除</a>

				</td>
			</tr>
			
			<tr>
				<td> </td>
				<td> </td>
				<td> </td>
				<td> </td>
				<td> </td>
				<td> </td>
				<td>
					<a href="add.html" target="_blank">
						增加歌曲
					</a>
				</td>
			</tr>
			
	</table>

</body>
</html>
