<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>热门排行</title>
  <style type="text/css">
		<!--
			.p1{ text-align:left; color:#FF0000;font-family:"宋体";  font-size:18px; font-style:italic;}
			.p2{ color:#FFFFFF;font-size:15px; font-family:"宋体"; text-align:left; text-decoration:none;}
			a:link{ color:#000000;}
			a:hover{ color:#FFFF00;}
			a:hover{ color:#FF0000;}
			p{ color:#000000;}
		-->
	</style>
  <script src="js/登录确认.js" type="text/javascript"></script>
 </head>
 <body background="img/d.jpg">

 <div style="height: 100%">
  <div style="height: 30%">
    <p class="p1">导航</p>
   <ul>
     <li><h4>我的收藏</h4></li>
     <li><h4>相似的歌</h4></li>
    <li> <h4>相似的歌单</h4></li>
     <li><h4>和我相似的TA</h4></li>
    <li> <h4>可能感兴趣的歌</h4></li>

   </ul>
  </div>
  <div style="height: 40%">
   <br/> <br/> <br/> <br/>
   <p class="p1">热门歌曲 ：</p>
   <table class="p2">
    <tbody>
     <tr>
      <td><a href="music.html" target="_blank">水星记 &nbsp; 郭顶</a></td>
     </tr>
     <tr>
      <td><a href="music.html" target="_blank">年少有为 &nbsp; 李荣浩</a></td>
     </tr>
     <tr>
      <td><a href="music.html" target="_blank">Way Back Home &nbsp; SHAUN</a></td>
     </tr>
     <tr>
      <td><a href="music.html" target="_blank">Different World &nbsp; Alan Walker</a></td>
     </tr>
     <tr>
      <td><a href="music.html" target="_blank">Shape of you &nbsp; Ed Sheeran</a></td>
    </tbody>
   </table>

  </div>
  <div style="height: 30%">
   <br/> <br/><p/>
  用户登录<p/>

  <form name="frmlogin" style="color:#000000">
   <table align="left" width="360" height="150">
    <tbody>
     <tr>
      <td>用户：</td>
      <td> <input type="text" name="userName" size="20" maxlength="20" /> <font color="red">*</font> </td>
     </tr>
     <tr>
      <td>密码：</td>
      <td> <input type="password" name="pwd" size="20" maxlength="20" /> <font color="red">*</font> </td>
     </tr>
     <tr align="center">
      <td colspan="2">  &nbsp;&nbsp;&nbsp; <input type="reset" name="clear" value="清空" /> &nbsp;&nbsp;&nbsp;
		  <input type="button" name="login" value="登录" onclick="validate()" /> &nbsp;
	  <a href="regist.html" target="_blank"> 注册 </a></td>
     </tr>
    </tbody>
   </table>
  </form>
  <div align="right">
   <font size="4" color="#000000">  &nbsp;&nbsp; <a href="control.html" target="_blank"> 管理员登录 </a> </font>
  </div>

  </div>
 </div>





 </body>
</html>