<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>主页面</title>
</head>
	<frameset rows="10%,*,4%" border="1" >
		<frame src="top.html" name="top" scrolling="no"/>
			<frameset cols="15%,*,20%" border="2" bordercolor="#CCCCCC">
				<frame src="hotsong.html" name="hit" scrolling="no" />
				<frame src="index2.html" name="introdece"scrolling="auto" />
				<frame src="introduce.html" name="introdece" scrolling="auto"/>
			</frameset>
		<frame src="bottom.html" name="bottom" scrolling="no"/>
	</frameset>
</html>
