<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>页面―介绍</title>
	<link type="text/css" rel="stylesheet" href="css/one.css"/>
	<script language="javascript" src="js/date.js">		
	</script>
</head>

<body background="img/d.jpg" onload="getSysTime()">
	<p class="p3">
		<marquee direction="right">
		<font  color="black" size="3">	
			<p id = "p1"></p>
		</font>
	</marquee>
	</p>
	
	<p class="p1"><b>本期新歌：</b></p>
	<a href="李健.html" target="_blank">
		<img src="img/t01b78737c37fd13071.jpg" width="90" alt="A" />
	</a>
	<a href="Adele.html" target="_blank">
		<img src="img/t01afed9fd1324560fd.jpg" width="90" alt="B" />
	</a>	
	<a href="Taylor Swift.html" target="_blank">
		<img src="img/t01ceff31ebc2b87331.jpg" width="90" alt="C" />
	</a>
	
	<a href="music.html" target="_blank">
		<img src="img/t01f3ba425e588d4b30.jpg" width="90" alt="D" />
		<img src="img/t01fa4a012e6f91e12a.jpg" width="90" alt="E" />
	</a>
	<p class="p4">
	（点击上方专辑图片即可获取专辑信息哦~）
	</p>
	<p class="p2">
		没找到喜欢的音乐？
		<a href="search.html" target="_blank">
			点击此处查询
		</a>
	</p>
</body>
</html>
