<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>页面—介绍</title>
</head>

<body >
	<p class="p2">
		<marquee direction="right">
		<font  color="black" size="3">	
			<p id = "p1"></p>
		</font>
	</marquee>
	</p>
	
	<p class="p1"><b>本期推荐：</b></p>
	<a href="lnkMusic1.html" target="_blank">
		孙燕姿 ——《天黑黑》
	</a>
	</br>
	<a href="lnkMusic2.html" target="_blank">
		Adele ——《Someone  Like  You》
	</a></br>
	<a href="lnkMusic3.html" target="_blank">
		Block B ——《Toy》
	</a></br>
	<a href="lnkMusic4.html" target="_blank">
		One OK Rock ——《完全感觉Dreamer》
	</a></br>
	<a href="lnkMusic5.html" target="_blank">
		Sam Smith ——《Too  Good  At  Goodbyes》
	</a></br>
	
	<p class="p2">
	（点击上方链接即可试听歌曲）
	</p>
	<p class="p2">
		没找到喜欢的音乐？</br>
		<a href="InkLogin.html" target="_blank">
			点击此处登录
		</a>
		</br></br>
		<a href="InkRegist.html" target="_blank">
			游客请点击此处进行注册
		</a>
	</p>
</body>
</html>
