<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>查询</title>
</head>

<body background="img/e.jpg">
	<form name="song" method="post">
		<table  width="500" height="400" align="center">
			<tr>
				<td>歌名：</td>
				<td>
					<input type="text" name="song" size="20" maxlength="20" />
				</td>
			</tr>
			
			<tr>
				<td>歌手：</td>
				<td>
					<input type="text" name="singer" size="20" maxlength="20"/>
				</td>
			</tr>
			
			<tr>
				<td>类型：</td>
				<td>
					<input type="radio" name="kind" value="1" />摇滚
					<input type="radio" name="kind" value="2" checked="checked"/>流行
					<input type="radio" name="kind" value="3"/>爵士
					<input type="radio" name="kind" value="4"/>乡村
				</td>
			</tr>
			
			<tr>
				<td>国家：</td>
				<td>
					<select name="country">
						<option value="1" selected="selected">中国</option>
						<option value="2" >欧美</option>
						<option value="3">日韩</option>
					</select>
				</td>
			</tr>
			
			<tr>
				<td colspan="2" align="center">
					<input type="submit" value="查询"/>
					&nbsp;
					<input type="reset" value="清空" />
				</td>
			</tr>
			
		</table>
	</form>
	<a href="index.html">
		返回主页
	</a>
</body>
</html>
