<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Taylor Swift</title>
</head>

<body bgcolor="#00CCCC">
		<form name="album" method="post" style="color:#000000">
		<table  width="500" height="800" align="center">
			<tr>
				<td>歌 手：</td>
				<td>
					Taylor Swift
				</td>
			</tr>
			
			<tr>
				<td>性别：</td>
				<td>
					女
				</td>
			</tr>
			
			<tr>
				<td> 国籍：</td>
				<td>
					美国
				</td>
			</tr>
			
			<tr>
				<td>专辑名称：</td>
				<td>
					《Red》
				</td>
			</tr>
			
			<tr>
				<td>类型：</td>
				<td>
					流行
				</td>
			</tr>
			
			<tr>
				<td>发型日期：</td>
				<td>
					2016年6月21日
				</td>
			</tr>
			
			<tr>
					<td>专辑图片：</td>
					<td>
						<img src="img/t01ceff31ebc2b87331.jpg" width="200" alt="Taylor Swift" />
					</td>
			</tr>
			
			<tr>
				<td>简介：</td>
				<td>
						《Red》融合了乡村流行乐、另类乡村、慢摇滚以及成人时代等音乐风格，
						其开头使用了乡村音乐必用的乐器——班卓琴开场。然而，《Red》并不单单是班卓乡村
						乐的展现，其高潮部分不断叠加的电音人声音效，将“Red”这一单词反复的体现出来了。

					
				</td>
			</tr>
		</table>
	</form>
	<a href="index.html" >
		返回主页
	</a>
</body>
</html>
