<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>李健</title>
</head>

<body bgcolor="#00CCCC">
	<form name="album" method="post" style="color:#000000">
		<table  width="500" height="800" align="center">
			<tr>
				<td>歌手：</td>
				<td>
				李健
				</td>
			</tr>
			
			<tr>
				<td>性别：</td>
				<td>
					男
				</td>
			</tr>
			
			<tr>
				<td> 国籍：</td>
				<td>
					中国
				</td>
			</tr>
			
			<tr>
				<td>专辑名称：</td>
				<td>
					《拾光》
				</td>
			</tr>
			
			<tr>
				<td>类型：</td>
				<td>
					抒情
				</td>
			</tr>
			
			<tr>
				<td>发型日期：</td>
				<td>
					2018年12月10日
				</td>
			</tr>
			
			<tr>
					<td>专辑图片：</td>
					<td>
						<img src="img/t01b78737c37fd13071.jpg" width="200" alt="李健" />
					</td>
			</tr>
			
			<tr>
				<td>简介：</td>
				<td>
					
						    	专辑《李健拾光》选择了旧曲新唱的方式，且将重点放在编曲上，选择15首李健的原创作品，
						以古典音乐元素重新编曲，并蕴含国家交响乐团的弦乐五重奏和众多古典器乐演奏家进行录
						制。该种编曲为歌曲本身注入了正能量，使作品更加优雅。
				</td>
			</tr>
			
		</table>
	</form>
		<a href="index.html">
				返回主页
		</a>
</body>
</html>
