/* CSS Document */
		.p1{ text-align:left;
			 color:#FF0000;
				font-family:"ו";  
				font-size:24px; 
				font-style:italic
			}
			.p2{ color:#FF3333; font-size:16px; font-family:"ו"; text-align:left;}
			.p3{ color:#990099; font-size:16px;}
			.p4{ color:#000000; font-size:16px;}

			a:link{ color:#000000;}
			a:hover{ color:#FF0000;}